.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    /* background: linear-gradient(#02321d, #033243);
    background-repeat: no-repeat; */
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #27EF9F;;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  * {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    background: linear-gradient(#02321d, #033243);
    /* background-color: #00619B; */
    /* background-color: #065737; */
    background-attachment: fixed;  
    background-repeat: no-repeat;
    margin: 0;
  }
  
  .LogoLR {
    width: 10px;
    height: 10px;
  }
  
  .login, .register {
    width: 400px;
    /* height: 40%; */
    background-color: #ffffff;
    border-radius: 10%;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
  }
  .login h1, .register h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
  }
  .login .links, .register .links {
    display: flex;
    padding: 0 15px;
  }
  .login .links a, .register .links a {
    color: #adb2ba;
    text-decoration: none;
    display: inline-flex;
    padding: 0 10px 10px 10px;
    font-weight: bold;
  }
  .login .links a:hover, .register .links a:hover {
    color: #9da3ac;
  }
  .login .links a.active, .register .links a.active {
    border-bottom: 3px solid #27EF9F;
    color: #27EF9F;
  }
  .login form, .register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }
  .login form label, .register form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #27EF9F;
    color: #ffffff;
  }
  .login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
  }
  .login form input[type="submit"], .register form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #27EF9F;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
  }
  .login form button[type="button"], .register form button[type="button"] {
    width: 80%;
    /* height: 100px; */
    padding: 10px;
    /* margin-top: 20px; */
    margin-bottom: 10px;
    background-color: #27EF9F;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
    border-radius: 10px;
    /* border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%; */
  }
  .login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
    background-color: #27EF9F;
    transition: background-color 0.2s;
  }
  .navtop {
    background-color: #2f3947;
    height: 60px;
    width: 100%;
    border: 0;
  }
  .navtop div {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
  }
  .navtop div h1, .navtop div a {
    display: inline-flex;
    align-items: center;
  }
  .navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
   margin: 0;
    color: #eaebed;
    font-weight: normal;
  }
  .navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: #c1c4c8;
    font-weight: bold;
  }
  .navtop div a i {
    padding: 2px 8px 0 0;
  }
  .navtop div a:hover {
    color: #eaebed;
  }
  body.loggedin {
    background-color: #f3f4f7;
  }
  .content {
    width: 1000px;
    margin: 0 auto;
  }
  .content h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #e0e0e3;
    color: #4a536e;
  }
  .content > p, .content > div {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    margin: 25px 0;
    padding: 25px;
    background-color: #fff;
  }
  .content > p table td, .content > div table td {
    padding: 5px;
    position: center;
    margin-left: auto;
    margin-right: auto;
  }
  .content > p table td:first-child, .content > div table td:first-child {
  font-weight: bold;
  color: #4a536e;
  padding-right: 15px;
  }
  .content > div p {
  padding: 5px;
  margin: 0 0 10px 0;
  }
  
  .Logo2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50px;
    padding-top: 20px;
    /* display: grid; */
    /* grid-area: logo; */
    /* grid-template-columns: repeat(2, auto); */
    /* align-items: center;
    justify-items: center; */
    height: 70px;
  }
  .Logo2 img {
    height: 60px;
  }
  .Logo2 h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    /* margin-left: -60%; */
    margin-top:-25px;
    transition: 0.5s;
    text-decoration: none;
    color: #27EF9F;
    position: relative
  }

  /* welcome */
.tbl-all{
    width: 900px;
    /* position: absolute; */
    position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /* z-index: 999; */
    /* width: 100%; */
    /* min-width: 1024px; */
    table-layout: fixed;
    border-spacing: 30px;
    /* border-collapse: separate;
    box-sizing: border-box; */
  }
  .tbl-header{
    background-color: rgba(255,255,255,0.3);
    width: 100%;
    vertical-align: middle;
    overflow-x:hidden;
    margin-top: 0px;
    /* height:70px; */
    /* margin-right: 100%; */
    border: 1px solid rgba(255,255,255,0.3);
   }
  .tbl-content{
    height:300px;
    overflow-x:auto;
    vertical-align: middle;
    width: 100%;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }
  .tbl-all th{
    padding: 15px;
    text-align: center;
    vertical-align:middle;
    font-weight: 500;
    font-size: 15px;
    width: 300px;
    color: #fff;
    text-transform: uppercase;
  }
  .tbl-all td{
    padding: 15px;
    text-align: center;
    vertical-align:middle;
    font-weight: 300;
    width: 300px;
    font-size: 15px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }

  .tbl-all table tbody tr:hover{  
    background: #3a99d8;
}

.tbl-paciente {
  position: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}